aiosqlite==0.16.1
appdirs==1.4.4
asyncpg==0.22.0
attrs==21.1.0
black==21.5b0
click==7.1.2
fastapi==0.63.0
h11==0.12.0
iniconfig==1.1.1
iso8601==0.1.14
mypy-extensions==0.4.3
packaging==20.9
pathspec==0.8.1
pluggy==0.13.1
py==1.10.0
pydantic==1.8.1
pyparsing==2.4.7
pypika-tortoise==0.1.0
pytest==6.2.4
pytz==2020.5
regex==2021.4.4
starlette==0.13.6
toml==0.10.2
tortoise-orm==0.17.2
typing-extensions==3.10.0.0
uvicorn==0.13.4
